.contacts {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    justify-content: space-around;
    gap: 45px;
 }
 
 .contact-card {
  padding: 1em;
  width: 20%;
  margin: 0 1em;
  min-width: 17rem;
  min-height: 23rem;
  border:3px solid gray;
  border-radius: 5px;
 }
 
 img {
    height: 250px;
    width: 250px;
 }
 
.cat {
    height: 200px;
    width: 200px;
}
.phone {
    height: 22px;
    width: 22px;
}
.mail {
    height: 22px;
    width: 22px;
}